@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../static/images/A8CsVY.jpg");
    background-size: cover;
    background-position: center;
}

form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 200px;
    padding: 20px 80px 20px 80px;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    backdrop-filter: blur(8px);
    background: rgba(255, 255, 255, 0.159);
}

form input[type="text"],
form input[type="submit"] {
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}